<div class="MobileNavBar-backdrop">
    <ul class="linkage-containerMobile">
      <li>
        <div class="d-flex">
          <a href="/BVA-WebSite/url/BioVitalAgeClock/BioVitalAgeClock.html">
            BioVitalAge Clock
          </a>
          <img class="has-dropdown-clock-mobile" src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;" width="18" height="18">
        </div>
        <div class="dropdown-menu-clock-mobile">
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/EtàBiologica/EtaBiologica.html">Età Biologica</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/CapacitàVitale/CapacitàVitale.html">Capacità Vitale</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/Resilienza/Resilienza.html">Resilienza</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/EtàMetabolica/EtaMetabolica.html">Età Metabolica</a>
          </div>
        </div>
      </li>
      <!-- <li><a href="/BVA-WebSite/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li> -->
      <li>
        <div class="d-flex">
          <a href="/BVA-WebSite/url/BioVitalAgeClock/BioVitalAgeClock.html">
            Utenti
          </a>
          <img class="has-dropdown-clock-mobile" src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;" width="18" height="18">
        </div>
        <div class="dropdown-menu-clock-mobile users-mobile">
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/Users/subcategory/Assicurazioni/assicurazioni.html">Assicurazioni</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/Users/subcategory/Laboratorio_di_analisi/laboratorio_di_analisi.html">Laboratori di analisi</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/Users/subcategory/Sanità_pubblica/sanita_pubblica.html">Sanità pubblica</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/Users/subcategory/Medici_cliniche_poliambultori/medici_cliniche_poliambultori.html">Medici, cliniche e poliambultori</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/Users/subcategory/Consumatori/consumatori.html">Salute dei consumatori</a>
          </div>
        </div>
      </li>      
      <li>
        <div class="d-flex">
          <a href="/BVA-WebSite/url/About/about.html">
            Company
          </a>
          <img class="has-dropdown-clock-mobile" src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù"
            style="margin-left: 5px;" width="18" height="18">
        </div>
        <div class="dropdown-menu-clock-mobile about-mobile">
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/About/subcategory/LaMissione/laMissione.html">La Missione</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/About/subcategory/IlTeam/ilTeam.html">Il Team</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/About/subcategory/Partnership/partnership.html">Partnership</a>
          </div>
          <div class="dropdown-section">
            <a href="/BVA-WebSite/url/About/subcategory/IlBlog/ilBlog.html">Blog</a>
          </div>
        </div>
      </li>
      <!-- <li><a href="/BVA-WebSite/url/Collaborazioni/collaborazioni.html">Collaborazioni</a></li> -->
      <li><a href="/BVA-WebSite/url/Contattaci/contattaci.html">Contattaci</a></li>
      <div class="line-divisor"></div>
      <li><a href="http://biovitalageplatformdeployed-env.eba-exhbgdpt.us-east-1.elasticbeanstalk.com/">Accedi</a></li>
    </ul>
</div>

<nav class="nav-bar-mobile" id="navBarMobile">
    <div class="nav-barMobile__logo-container">
        <a href="/BVA-WebSite/index.html">
            <img src="/BVA-WebSite/includes/images/Logo.png" alt="BioVitalAge Logo">
        </a>
    </div>
</nav>

<div class="menu-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav class="nav-bar" id="navbar">
    <div class="nav-bar__logo-container">
        <a href="/BVA-WebSite/index.html">
            <img src="/BVA-WebSite/includes/images/Logo.png" alt="BioVitalAge Logo" title="Home Page">
        </a>
    </div>

    <div class="nav-bar__linkage">
        <ul class="linkage-container">
            <li class="has-dropdown-clock">
                <a href="/BVA-WebSite/url/BioVitalAgeClock/BioVitalAgeClock.html">
                  BioVitalAge Clock
                  <img src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;">
                </a>
                <div class="dropdown-menu-clock">
                  <div class="dropdown-section">
                    <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/EtàBiologica/EtaBiologica.html">Età Biologica</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/CapacitàVitale/CapacitàVitale.html">Capacità Vitale</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/Resilienza/Resilienza.html">Resilienza</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BVA-WebSite/url/BioVitalAgeClock/subcategory/EtàMetabolica/EtaMetabolica.html">Età Metabolica</a>
                  </div>
                </div>
            </li>
            <!-- <li><a href="/BVA-WebSite/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li> -->
            <li class="has-dropdown-clock">
              <a href="/BVA-WebSite/url/Users/utenti.html">
                Utenti
                <img src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;">
              </a>
              <div class="dropdown-menu-clock users">
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/Users/subcategory/Assicurazioni/assicurazioni.html">Assicurazioni</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/Users/subcategory/Laboratorio_di_analisi/laboratorio_di_analisi.html">Laboratori di analisi</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/Users/subcategory/Sanità_pubblica/sanita_pubblica.html">Sanità pubblica</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/Users/subcategory/Medici_cliniche_poliambulatori/medici_cliniche_poliambulatori.html">Medici, cliniche e poliambultori</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/Users/subcategory/Consumatori/consumatori.html">Salute dei consumatori</a>
                </div>
              </div>
            </li>            
            <li class="has-dropdown-clock">
              <a href="/BVA-WebSite/url/About/about.html">
                Company
                <img src="/BVA-WebSite/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;">
              </a>
              <div class="dropdown-menu-clock about">
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/About/subcategory/LaMissione/laMissione.html">La Missione</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/About/subcategory/IlTeam/ilTeam.html">Il Team</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/About/subcategory/Partnership/partnership.html">Partnership</a>
                </div>
                <div class="dropdown-section">
                  <a href="/BVA-WebSite/url/About/subcategory/IlBlog/ilBlog.html">Il Blog</a>
                </div>
              </div>
            </li>
            <!-- <li><a href="/BVA-WebSite/url/Collaborazioni/collaborazioni.html">Collaborazioni</a></li> -->
            <li><a href="/BVA-WebSite/url/Ricerca_Scientifica/Ricerca_Scientifica.html">Ricerca Scientifica</a></li>
        </ul>
    </div>

    <div class="nav-bar__other-link">
        <a href="/BVA-WebSite/url/Contattaci/contattaci.html" class="info-link">Contattaci</a>
        <a href="http://biovitalageplatformdeployed-env.eba-exhbgdpt.us-east-1.elasticbeanstalk.com/" class="button" style="text-align: center;">Accedi</a>
    </div>
</nav>